* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
margin: 0;

} 

a {
    text-decoration: none;
}
button {
    border: none;
    cursor: pointer;
}

img {
display: block;
width: 100%;
max-width: 100%;
height: auto;
}

input {
  outline: none;
  border: none;
}
